{% extends "base.html" %}
{% block content %}
<center>
<div style="text-align:center;">
<font size="4">
Please select dataset and algorithm
</font>
<hr>   
        
<form action="./" method="post">
    Dataset：<br>
    <select name="data_name">
    <option value="iris">Iris</option>
    <option value="wine">Wine</option>
    <option value="None">None</option>
    </select>
    <br>
    Algorithm:<br>
    <input type="radio" name="model_name" id="r1" value="dt">
        <label for="r1">Decision Tree</label>
    <input type="radio" name="model_name" id="r2" value="svc">
        <label for="r1">Support Vector Machine</label>
    <br>
    <input type="submit" value="Send">
</form>
    
<form action="" method="POST"></form>
</div>

{% if err1 %}
<hr>
<center><font size="5" color=red><b>{{ err1 }}</b></font></center>
<hr>
{% endif %}

{% if err2 %}
<hr>
<center><font size="5" color=red><b>{{ err2 }}</b></font></center>
<hr>
{% endif %}

{% if data_name %}
<center>
<hr>
Dataset: {{ data_name }} / Algorithm: {{ model_name }}
<hr>
</center>
{% endif %}

<!-- 画像を表示するコード -->
{% if filepath %}
<center>
Accuracy: {{ accuracy }} %
<hr>
<!-- 参考：https://qiita.com/ponkio-o/items/7872019c8fa91df965f0 -->
{{ report | safe }}
<img src="{{ filepath }}" style="width: 500px"><br>
</center>
{% endif %}
<hr>
{% if descr %}
<table>
    <td>
        <p style="text-align: left">
        {{ descr | safe }}
        </p>
    </td>
</table>
{% endif %}

{% endblock %}